{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'profile_password.css' %}"/>

{% endblock css %}

{% block contenido %}

	<div class="row">


        <div class="col-xs-12">

            <header>
                <h3 class="own-titulo">Profile</h3>
            </header>

            <hr class="own-article-line">

            <br>            
        </div>


		<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 own-loginbox">


            <form action="">
                
                <div class="well">

                    <div class="form-group">
                        <label for="usr">Anterior Contraseña:</label>
                        <input type="password" class="form-control" id="email">
                    </div>

                    <div class="form-group">
                        <label for="usr">Nueva Contraseña:</label>
                        <input type="password" class="form-control" id="email">
                    </div>                

                    <div class="form-group">
                        <label for="usr">Confirmar Nueva Contraseña:</label>
                        <input type="password" class="form-control" id="email">
                    </div>                         

                    <div class="text-center">
                        <!-- <button type="submit" class="btn btn-default">Enviar comentario</button> -->
                        <a href="{% url 'security:profile_password_success' %}" class="btn btn-default">Guardar</a>

                    </div>                
                    
                </div>

            </form>			

        </div>		
	</div>

{% endblock contenido %}

{% block scripts %}

{% endblock scripts %}