{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

    <!-- Bootstrap Select -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2/4.0.3/dist/css/select2.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/select2-bootstrap-theme-master/0.1.0-beta.10/dist/select2-bootstrap.min.css' %}"/>

    <!-- Bootrstrap DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css' %}"/>

    <!-- Own's Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'new_add.css' %}"/>    

{% endblock css %}

{% block contenido %}

    <div class="row">

        <div class="col-xs-12">
            <header>
                <h3 class="own-titulo">Crear Usuario</h3>
            </header>

            <hr class="own-article-line">

            <br>            
        </div>

        <div class="col-xs-12 col-sm-4">

            <img id="img_preview" 
            class="img-responsive img-thumbnail legal-img"
            src="{% static 'images/decorators/no-image-user.jpg' %}"
            alt="User Image">

            <div class="form-group">
                    <input type="file" class="filestyle" id="portada" data-iconName="glyphicon glyphicon-picture" data-buttonText="Seleccionar Imagen">
            </div>

        </div>

        <div class="col-xs-12 col-sm-8 ">

            <div class="well">

                <div class="form-group">
                    <label for="empleados">Clave:</label>
                    <input type="text" class="form-control" value="JMARTINEZH">
                </div>

                <div class="form-group">
                    <label for="empleados">Nombre(s):</label>
                    <input type="text" class="form-control" value="JORGE DE JESUS">
                </div>                

                <div class="form-group">
                    <label for="empleados">Apellido(s):</label>
                    <input type="text" class="form-control" value="MARTINEZ HERNANDEZ">
                </div>
                
                <div class="form-group">
                    <label for="empleados">Fecha Nacimiento:</label>
                    <input type="text" id="fecha" class="form-control" value="30/11/1985">
                </div>

                <div class="form-group">
                    <label for="empleados">Email:</label>
                    <input type="text" class="form-control" value="jorge.martinez@cmr.com.mx">
                </div>

                <div class="form-group">
                    <label for="empleados">Estado:</label>
                    <select id="empleados" class="form-control">
                        <option>ACTIVO</option>
                        <option>Deshabilitado</option>
                    </select>
                </div>

                <div>
                    <a href="{% url 'security:user_password' 0 %}" class="btn btn-default">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        Cambiar Contraseña
                    </a>
                    <a href="{% url 'security:user_permissions' 0 %}" class="btn btn-default">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        Editar Permisos
                    </a>

                    <a href="#" class="btn btn-primary pull-right">Guardar</a>
                </div> 

            </div>

        </div>        

    </div>

{% endblock contenido %}

{% block scripts %}

    <!-- Bootstrap Select -->
    <script type="text/javascript" src="{% static 'libs/select2/4.0.3/dist/js/select2.min.js' %}"></script>

    <!-- Bootrstrap DatePicker -->
    <script type="text/javascript" src="{% static 'libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js' %}"></script>

    <!-- Bootstrap Filestyle -->
    <script type="text/javascript" src="{% static 'libs/bootstrap-filestyle/1.2.1/src/bootstrap-filestyle.min.js' %}"></script>

    <!-- Own's Scripts -->
    <script type="text/javascript" src="{% static 'user_add.js' %}"></script>    

    <!-- Own's Scripts -->
    

{% endblock scripts %}