{% extends 'master.html' %}

{% load static from staticfiles %}

{% block css %}

{% endblock css %}

{% block contenido %}

    <div class="row">
        
        <div class="col-xs-12">
            <div class="jumbotron text-center">
                <h2>La contraseña del usuario XXXX se a modificado</h2>

                <a href="{% url 'security:user_list' %}" class="btn btn-default">
                    Ir a Usuarios
                </a>

                <a href="{% url 'home:index' %}" class="btn btn-default">
                    Ir al inicio
                </a>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block scripts %}


{% endblock scripts %}